<div class="container mx-auto">
  <!-- addACar a car -->
  <section>
    <div class="flex items-center justify-center">
      <!-- title -->
      <small
        class="ms-2 py-3 text-center text-4xl font-semibold text-gray-500 dark:text-gray-400"
      >
        Add A Car
      </small>
    </div>
    <form (ngSubmit)="onSubmit()" class="mx-auto max-w-md py-1">
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="input-group">
          <input
            #carInput
            [(ngModel)]="owner"
            class="peer focus:ring-0 dark:border-gray-600 dark:text-white"
            id="car_brand"
            name="car_brand"
            placeholder=" "
            required
            type="text"
          />
          <label
            class="top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-blue-600 dark:text-gray-400 peer-focus:dark:text-blue-500 rtl:peer-focus:translate-x-1/4"
            for="car_brand"
          >
            Car Owner
          </label>
        </div>
        <div class="input-group">
          <input
            [(ngModel)]="car_model"
            class="peer focus:ring-0 dark:border-gray-600 dark:text-white"
            id="car_model"
            name="car_model"
            placeholder=" "
            required
            type="text"
          />
          <label
            class="top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-blue-600 dark:text-gray-400 peer-focus:dark:text-blue-500 rtl:peer-focus:translate-x-1/4"
            for="car_model"
          >
            Car Model
          </label>
        </div>
      </div>
      <div class="input-group">
        <input
          [(ngModel)]="car_numberplate"
          class="peer focus:ring-0 dark:border-gray-600 dark:text-white"
          id="car_numberplate"
          name="car_numberplate"
          placeholder=" "
          required
          type="text"
        />
        <label
          class="top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-blue-600 dark:text-gray-400 peer-focus:dark:text-blue-500 rtl:peer-focus:translate-x-1/4"
          for="car_numberplate"
        >
          Number Plate
        </label>
      </div>

      <button class="submit" type="submit">Submit</button>
    </form>
  </section>
</div>
